# Port for express server (Default: 3000)
PORT=5000

# ============ DATABASE ==================
MONGODB_URI=your-atlas-connection-string

# ============ Auth ==============
JWT_SECRET=replace-me

# ============= Client Origin ============
CLIENT_ORIGIN=http://localhost:5173


# ============== NODE_ENV ==================
NODE_ENV=development
# NODE_ENV=production
